:root {
  --font-family: "Segoe UI", sans-serif;
  --second-family: "Georgia", sans-serif;
  --third-family: "Consolas", sans-serif;
  --text-color-second: #000;
  --primary-color: #fff;
  --accent-color: #fed0da;
  --second-color: #7c44f1;
  --third-color: #a6e8d3;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
img,
button {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.scroll-hidden{
  overflow-y: hidden;
}
@media screen and (min-width: 320px) {  
}
@media screen and (min-width: 768px) { 
}
@media screen and (min-width: 1024px) { 
}
@media screen and (min-width: 1440px) { 
}